@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,200&display=swap");
$primary-color: #f5f5f5;
$secondary-color: #262626;
$gold-color: gold;
$shadow-color: #b6b6b6;
$title-font: "Libre Baskerville", serif;
$default-font: "Montserrat", sans-serif;
$p-color: #c0c0c0;
$hover-color: #4f4410;
