@import "./_global.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $primary-color;
  font-family: $default-font;
}
