@import "../../global";
.card {
  margin-top: 80px;
  width: 40%;
  height: 500px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 20px 0px $shadow-color;
  border-radius: 15px;
  overflow: hidden;
  background-color: $secondary-color;
  color: $primary-color;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  .container_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 25px 0;
    overflow-y: scroll;
    height: 30%;
  }
  .card_img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .title {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: $title-font;
  }
  p {
    font-size: 12px;
    color: $p-color;
    margin-bottom: 20px;
  }

  .discover_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    span {
      display: inline-block;
      margin-right: 10px;
      color: $gold-color;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        opacity: 0.7;
      }
    }
    ion-icon {
      color: $gold-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
@media screen and (max-height: 450px) {
  .card {
    .title {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    .container_description {
      height: 40%;
    }
    .card_img {
      height: 60%;
    }
    &:hover {
      transform: unset;
      transition: unset;
    }
  }
}
