.homepage_first_section {
  height: 100vh;
  background: url(../../assets/imgs/anto.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.457);
  button {
    animation-name: btn-start;
    animation-duration: 1s;
  }
}

@keyframes btn-start {
  0% {
    transform: scale(0.3);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
